@model IEnumerable<RecebimentoLixo>
@{
ViewData["Title"] = "Recebimento Lixo";
}

<link rel="stylesheet" href="css/bluehorizon.css"/>
<div class="pt-5">
    <div style="background-color: #363636;" class="text-center">
        <h2 class="pt-2 pb-2 text-white" >Recebimento Lixo</h2>
    </div>
</div>

<h3 class="display-5 text-center">Abaixo, confira os recebimentos de lixo.</h3>

<img src="Imagens/Nuvem.jpg" style="width: 100%"/>


@foreach (var item in Model)
{
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Data Recebimento</th>
        <th scope="col">ID Perfil</th>
        <th scope="col">ID Pessoa</th>
        <th scope="col">ID Ponto de Coleta</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
        <td>@Html.DisplayFor(modelItem => item.DtRecebimento)</td>
        <td>@Html.DisplayFor(modelItem => item.PerfilId)</td>
        <td>@Html.DisplayFor(modelItem => item.PontosColetaId)</td>
        <td>@Html.DisplayFor(modelItem => item.PessoaId)</td>
        <td><a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning m-1 text-decoration-none text-white text-center pt-1">Editar</a></td>
        <td><a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-danger m-1 text-decoration-none text-white text-center pt-1">Deletar</a></td>
    </tr>
    </tbody>
</table>
}

<div class="d-flex flex-column mx-auto align-items-center pt-5">
    <a asp-action="Cadastrar" asp-controller="RecebimentoLixo" class="link m-1 rounded-pill text-decoration-none text-white text-center pt-1">Registrar Coleta</a>
</div>

<div class="d-flex flex-column mx-auto align-items-center pt-5">
    <a asp-action="Cadastrar" asp-controller="VoluntarioPessoa" class="link m-1 rounded-pill text-decoration-none text-white text-center pt-1">Junte-se a nós</a>
</div>