@model VoluntarioPessoa
@{
ViewData["Title"] = "Conta";
}

<div class="pt-5">
    <div style="background-color: #363636;" class="text-center">
        <h2 class="pt-2 pb-2 text-white" >Sua Conta</h2>
    </div>
</div>

<h3 class="display-5 text-center">Abaixo, confira os dados da sua conta.</h3>

<img src="Imagens/Nuvem.jpg" style="width: 100%"/>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">CPF</th>
        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">CEP</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">@Html.DisplayFor(modelItem => modelItem.Id)</th>
        <td>@Html.DisplayFor(modelItem => modelItem.CepEndereco)</td>
        <td>@Html.DisplayFor(modelItem => modelItem.Nome)</td>
        <td>@Html.DisplayFor(modelItem => modelItem.DtnascPessoa)</td>
        <td>@Html.DisplayFor(modelItem => modelItem.CepEndereco)</td>
    </tr>
    </tbody>
</table>


<div class="d-flex flex-column mx-auto align-items-center pt-5">
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary m-1 rounded-pill text-center" style="background-color: #1189e0; color: white; width: 150px;">Editar</a>
</div>

<div class="d-flex flex-column mx-auto align-items-center pt-5">
    <a asp-action="Cadastrar" asp-controller="VoluntarioPessoa" class="btn btn-secondary m-1 rounded-pill text-center" style="background-color: #6c757d; color: white; width: 150px;">Junte-se a nós</a>
</div>

<div class="d-flex flex-column mx-auto align-items-center pt-5">
    <a asp-action="PerfilLogado" asp-controller="VoluntarioPerfil" asp-route-id="@Model.Id" class="btn btn-info m-1 rounded-pill text-center" style="background-color: #17a2b8; color: white; width: 150px;">Ver Perfil</a>
</div>
    