@model IEnumerable<SituacaoPraia>
@{
ViewData["Title"] = "Situação da Praia";
}

<link rel="stylesheet" href="css/bluehorizon.css"/>
<div class="pt-5">
    <div style="background-color: #363636;" class="text-center">
        <h2 class="pt-2 pb-2 text-white" >Situação da praia</h2>
    </div>
</div>

<h3 class="display-5 text-center">Não é possível comparar o nível de poluição nas praias, por isso a medição é feita de acordo com as condições inpróprias de uso:</h3>

<img src="Imagens/Nuvem.jpg" style="width: 100%"/>

@foreach (var item in Model)
{
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Nível de Sujeira</th>
        <th scope="col">Cidade</th>
        <th scope="col">Editar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
        <td>@Html.DisplayFor(modelItem => item.NomePraia)</td>
        <td>@Html.DisplayFor(modelItem => item.NivelSujeiraPraia)</td>
        <td>@Html.DisplayFor(modelItem => item.CidadePraia)</td>
        <td><a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning m-1 text-decoration-none text-white text-center pt-1">Editar</a></td>
        
    </tr>
    </tbody>
</table>
}

<div class="d-flex flex-column mx-auto align-items-center pt-5">
    <a asp-action="Cadastrar" asp-controller="SituacaoPraia" class="link m-1 rounded-pill text-decoration-none text-white text-center pt-1">Adicionar nova Praia</a>
</div>

<div class="d-flex flex-column mx-auto align-items-center pt-5">
    <a asp-action="Cadastrar" asp-controller="VoluntarioPessoa" class="link m-1 rounded-pill text-decoration-none text-white text-center pt-1">Junte-se a nós</a>
</div>
    

